In [ ]:
# FMCG data analyst ...

In [1]:
import numpy as np
import pandas as pd

In [42]:
Data=pd.read_csv("Raw Sales Data.csv")  # Read excel file through pandas
Data["Qty"]=Data["Qty"].str.replace(",","").astype(int)  # Convert Quantity into integer
Data["Sales"]=Data["Sales"].str.replace(",","").astype(int)  # Convert Sales into integer
Data["Month"]=pd.to_datetime(Data["Month"]) # extract month from Month
product_name=Data["Product Name"].str.split(("\d+")).str[0]  # split product name from quanity..
Data["Product Name"]=product_name
Data

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE,Juices,1116,428700
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE,Juices,3003,1374831
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE,Juices,2962,732167
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL,Gourmet Nutrition,1004,377100
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE,Juices,555,152287
...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND,Gourmet Nutrition,509,165426
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE,Juices,542,248830
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE,Juices,645,140907
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE,Juices,1242,436043
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU),Gourmet Nutrition,971,582600

         Q1. Monthwise number of quantities sold

In [45]:
Month_Wise=Data.groupby(["Month"])["Qty"].sum()
Month_wise=pd.DataFrame(Month_Wise)
Month_wise

              Qty
Month
2020-12-01  85427
2021-01-01  67732
2021-02-01  76393
2021-03-01  80229

         Q2. Category wise Qty sold

In [47]:
category_Wise=Data.groupby(["Category"])["Qty"].sum()
category_wise=category_Wise.sort_values()
category_Wise=pd.DataFrame(category_wise)
category_Wise

                         Qty
Category
Functional nutrition   42354
Gourmet Nutrition      89279
Juices                178148

        Q3. Sub-channel wise total sales

In [51]:
Sub_channel=Data.groupby(["Sub-Channels"])["Sales"].sum()
Sub_Channel=Sub_channel.sort_values()
sub_chanel=pd.DataFrame(Sub_Channel,)
sub_chan

                      Sales
Sub-Channels
Offline - Central    375332
GOQII                582600
Offline - East       811146
Offline -North      1206564
Big Basket          1207522
Offline - South     3446395
Flipkart            3770415
Offline - MT        6257948
Offline - West      6441427
D2C                28047538
AMAZON             35606804

       Q4. Highest sale in which month

In [49]:
Highest_sales_month=Data.groupby(["Month"])["Sales"].sum()
Highest_month=Highest_sales_month.tail(1)
Highest_monthh=pd.DataFrame(Highest_month)
Highest_monthh

               Sales
Month
2021-03-01  25127827

      Q5. Highest selling product (based on sales) (packaging quantity doesn't matter.

In [50]:
Highest_selling_product=Data.groupby(["Product Name"])["Sales"].sum()
Highest_selling_pr=Highest_selling_product.sort_values().tail(1)
highest_selling_product=pd.DataFrame(Highest_selling_pr)
highest_selling_product

                           Sales
Product Name
ALOE + GARCINIA JUICE   12249252

         Q.6. List of different products company is offering (packaging quantity doesn't matter.

In [61]:
product_list=Data["Product Name"].unique()
Product_list=pd.DataFrame(product_list)
Product_list

                                  0
0                ALOE + AMLA JUICE
1            ALOE + GARCINIA JUICE
2                  ALOE VERA JUICE
3               ALOE VERA SKIN GEL
4                       NEEM JUICE
5                       NONI JUICE
6           SLIM SHAKE - CHOCOLATE
7               SLIM SHAKE - MANGO
8                   TRIPHALA JUICE
9                TULSI GILOY JUICE
10               WHEAT GRASS JUICE
11                      AMLA JUICE
12                  GET SLIM JUICE
13                    HIMALAYA OIL
14                 VIGOR MAX JUICE
15          ORGANIC JAGGERY POWDER
16              APPLE CIDER VINEGAR
17              VIRGIN COCONUT OIL
18              KARELA JAMUN JUICE
19    MASALA SUPERGRAIN MIX ENERGY
20  MASALA SUPERGRAIN MIX IMMUNITY
21              AMLA + GILOY JUICE
22                  DIA FREE JUICE
23               IMMUNE CARE JUICE
24                 ORGANIC GULKAND
25       VEGAN PROTEIN - CHOCOLATE
26               GET SLIM CAPSULES
27              RAW HONEY ( MADHU)

In [62]:
with pd.ExcelWriter("FMCG Data Analysis By Lalit Pratap Rathore.xlsx") as writer:
    Month_wise.to_excel(writer,sheet_name="Month_Wise")
    category_Wise.to_excel(writer,sheet_name="category_wise")
    sub_chanel.to_excel(writer,sheet_name="sub_chanel")
    Highest_monthh.to_excel(writer,sheet_name="Highest_monthh")
    highest_selling_product.to_excel(writer,sheet_name="highest_selling_product")
    Product_list.to_excel(writer,sheet_name="Product_list")